* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background-image: url(https://img.freepik.com/free-vector/hand-drawn-travel-background_52683-85109.jpg?w=2000);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h2 {
    margin: 70px 1027px 34px 135px;
}

.button {
    background-color: rgb(31, 71, 87);
    border: none ;
    color: #F4F5F6;
    padding: 8px 17px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-weight: 500px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    position: absolute;
    bottom: 14px;
}

.tours {
    width: 370px;
    height: 420px;
    border: none;
    border-radius: 10px;
    background-color: white;
    position: relative;
    right: -135px;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.148), 0 6px 20px 0 rgba(0, 0, 0, 0.081);
    transition: scale 0.5s;
}

.tour-image {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 370px;
    height: 239px;
}

.tour-name {
    color: black;
    display: flex;
    width: auto;
    height: auto;
}

.tour-description {
    width: 330px;
    height: 147px;
    padding: 20px 20px 14px 20px;
}

.image-price {
    width: 370px;
    height: 239px;
}

.tour-star-rating {
    position: absolute;
    bottom: 70px;
}

.tour-star-rating span {
    font-size: 500;
}

.duration {
    position: relative;
    right: -50px;
}

.tours:hover {
    scale: 1.1;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.241);   
}

.tour-price {
    background-color: rgba(0, 0, 0, 0.501);
    color: white;
    border-radius: 3px;
    position: relative;
    display: inline-block;
    text-align: center;
    padding: 8px 15px;
    top: -220px;
    right: -30px;
    font-size: 12px;
    font-weight: 400;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 30px 50px;
    width: fit-content;
    height: fit-content;
}

.topnav {
    background-color: rgb(17, 32, 38);
    width: 100%;
    text-align: center;
    height: 80px;
    position: relative;
    z-index: 2;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.273);
    transition: all 0.5s;
}

.topnav ul li {
    font-weight: 300;
}

.topnav ul li a {
    display: flex;
    color: white;
    text-align: center;
    padding: 30px;
    text-decoration: none;
    width: auto;
    height: auto;
    position: relative;
    transition: 0.4s;
}

.topnav ul {
    display: inline-flex;
    list-style: none;
    position: relative;
    right: -20px;
}

.topnav ul li a:hover {
    border-bottom: 1px solid rgb(238, 163, 12);
    color: rgb(238, 163, 12); 
    background-color: rgba(255, 255, 255, 0.059);
}

.tripplan {
    margin: 0px 0px -20px -20px;
    position: absolute;
    top: 15px;
    left: 150px;
    cursor: pointer;
}

.topnav ul li a i {
    margin-left: 5px;
}

.sub-menu-1 ul li a i {
    margin-right: 4px;
}

.sub-menu-1 {
    display: none;
}

.topnav ul li:hover .sub-menu-1 {
    display: block;
    position: absolute;
    background: rgb(17, 32, 38);
    width: auto;
    height: auto;
}

.search {
    border: 2px solid grey;
    border-radius: 20px;
    margin-bottom: 100px;
    width: 300px;
    height: 40px;
    position: absolute;
    right: 50px;
    top: 20px;
    padding: 5px;
}

.topnav ul li:hover .sub-menu-1 ul {
    display: block;
}

.topnav ul li .active {
    border-bottom: 1px solid rgb(238, 163, 12);
    color: rgb(238, 163, 12);
}

.button:hover {
    color:rgb(238, 163, 12);
}

.footer {
    width: auto;
    height: 180px;
    background-color: rgb(17, 32, 38);
    padding: 60px;
    margin-top: 30px ;
    box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.273);
}

.footer-image {
    color: white;
    position: relative;
    bottom: -10px;
}

.tour-name:hover {
    color: rgb(238, 163, 12);
}

.emirates {
    margin-left: 20px;
}

.bamboo {
    margin-left: 20px;
}

.bristish {
    margin-left: 20px;
}

.vietnam {
    position: relative;
    bottom: -5px;
    margin-left: 20px;
}

.information {
    color: white;
}

.information {
    display: inline-block;
    margin-left: 900px;
    position: relative;
}

.information ul {
    list-style: none;
    position: relative;
    width: fit-content;
    height: fit-content;
    top: -50px;
    font-size: small;
    font-weight: 100;
}

.information ul li {
    margin-top: 5px;
}

.topnav a {
    text-decoration: none;
    margin-right: 5px;
}

.sub-menu-2 {
    display: none;
}

.topnav ul li:hover .sub-menu-2 {
    position: absolute;
    display: block;
    width: auto;
    height: auto;
    background-color: rgb(17, 32, 38);
    color: white;
    list-style: none;
} 

.sub-menu-2 ul li a {
    text-decoration: none;
}

.topnav ul li:hover .sub-menu-2 ul {
    display: block;
}

.sub-menu-1 ul li a:hover {
    position: relative;
    left: -20px;
}

.topnav ul li:hover .sub-menu-1 ul li a {
    position: relative;
    left: -20px;
    margin-right: 0px;
}

.sub-menu-2 ul li a:hover {
    position: relative;
    left: -20px;
}

.topnav ul li:hover .sub-menu-2 ul li a {
    position: relative;
    left: -20px;
}

.sub-menu-2 ul li a {
    margin-left: 0px;
    text-align: center;
}

.sub-menu-2 ul li a:hover {
    cursor: pointer;
}

.mini-menu {
    display: none;
}

.popular-tours {
    margin-top: 100px;
}

.sub-menu-2 ul li:hover .mini-menu {
    display: flex;
    position: absolute;
    margin-top: -75px;
    margin-left: 130px;
}

.sub-menu-2 ul li:hover .mini-menu ul li {
    background-color: rgb(17, 32, 38);
    position: relative;
    top: -5px;
    left: -35px;
}

.sub-menu-2 ul li:hover .mini-menu ul li a {
    margin-right: -20px;
    margin-left: 20px;
}

.sub-menu-2 ul li a img {
    margin-right: 5px;
}

.information ul li i {
    margin-right: 4px;
}